/* Body of the page with background image */
body {
	background-image: url('/res/media/background.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.modal-dialog {
	max-width: 50vw;
	max-height: 80vh;
	margin: auto; /* Centers the modal horizontally */
}

.modal-body {
	max-height: 75vh;
	overflow-y: auto;
}

.is-invalid { border-color: #dc3545; }
.invalid-feedback { display: block; }

/* Styling for the notification container */
#notification-container {
	position: fixed;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1050;
	width: 300px;
}

.card-container {
    display: flex;
    overflow-x: auto;
    padding: 20px 0;
/*    gap: 20px; 
    margin: 2rem auto;
*/
	justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem; /* Optional: spacing between cards */
    width: 100%;
    /* Hide scrollbar for a cleaner look */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.card-container::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.card {
    min-width: 250px;
    max-width: 250px;
    height: 90px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 15px;
    box-sizing: border-box;
    flex-shrink: 0; /* Prevent cards from shrinking */
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card-content {
    flex-grow: 1;
    padding: 10px 0;
}
.card-title {
    font-size: 1.2em;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
}
.card-description {
    font-size: 0.9em;
    color: #666;
    text-align: center;
}

#selectText {
    width: 200px; 
}
/* Style the close button */
.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    width: 16px;  /* Half of the previous 32px */
    height: 16px; /* Half of the previous 32px */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.close-btn:hover {
    background-color: #f8d7da;
    transform: scale(1.1);
}

.close-btn i {
    font-size: 0.5rem;  /* Half of the previous 1rem */
    color: #dc3545;
}
