<!DOCTYPE html>
<html lang="en_us">
<head>
	<meta charset="UTF-8">
	<title>Azide Splash - Viewer</title>
	<link rel="stylesheet" href="/res/lib/bootstrap/5.3.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="/res/lib/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css">
	<link rel="stylesheet" href="/res/css/main.css">
	<style>
	</style>
</head>
<body class="min-vh-100 vstack">
{#let priorityMessages = cdi:PriorityMessageRepository.getMessagesToDisplay()}
	<div class="container-fluid min-vh-100 d-flex flex-column">
		<main id="content">
			<div class="row mb-3 mt-1">
				<div class="col-6">
					<h1 class="text-light align-middle">Messages</h1>
				</div>
				{#if userLoggedIn}
					<div class="col-6 text-end">
						<a href="/landpageManage" class="btn btn-primary btn-sm">Edit</a>
					</div>
				{/if}
			</div>
			<div id="message-table" class="table-container">
				<table class="table table-striped table-hover opacity-75">
					<thead>
					<tr>
						<th>Subject</th>
						<th style="width:10%">Priority</th>
						<th style="width:10%">Start Date</th>
						<th style="width:10%">End Date</th>
						<th style="width:10%">Action</th>
					</tr>
					</thead>
					<tbody>
					{#if priorityMessages.isEmpty}
						<tr>
							<td colspan="5" class="text-center">
								No Messages to display!
							</td>
						</tr>
					{#else}
						{#for message in priorityMessages}
							<tr id="message-row-{message.id}">
								<td>
									{message.subject}
								</td>
								<td>
									{message.priority}
								</td>
								<td>
									{message.getFormattedStartDate()}
								</td>
								<td>
									{message.getFormattedEndDate()}
								</td>
								<td>
									<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#message-modal-{message.id}">
										View
									</button>
								</td>
							</tr>
						{/for}
					{/if}
					</tbody>
				</table>
			</div>
		</main>
	</div>
	
	{#for message in priorityMessages}
		<div class="modal fade" id="message-modal-{message.id}" tabindex="-1" aria-labelledby="message-modal-{message.id}-label" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="message-modal-{message.id}-label">{message.subject}</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						{message.content}
						<hr/>
						<p class="h5">Start Date: {message.getFormattedStartDate()}</p>
						<p class="h5">End Date: {message.getFormattedEndDate()}</p>
						<p class="h5">Priority: {message.priority}</p>
						<p class="h5">Last Updated By: {message.lastUpdatedBy}</p>
						<p class="h5">Last Updated: {message.getFormattedLastUpdated()}</p>
						<p class="h5">Created At: {message.getFormattedCreatedAt()}</p>
					</div>
				</div>
			</div>
		</div>
	{/for}

{/let}

<script src="/res/lib/jquery/3.7.1/jquery.min.js"></script>
<script src="/res/lib/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>

</body>
</html>